# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
/target
/src/main/java/algorithm_practice/nowcoder/a_1st_Season/aa_Manacher_bfprt_KMP/
/src/main/java/algorithm_practice/nowcoder/a_1st_Season/aa_Manacher_bfprt_KMP/
